<header>
  <h1>Flats</h1>

  <h3>Boas vindas ao sistema de locação de propriedades</h3>
  
</header>

<aside>
  <h2>Filtrar por tipo:</h2>
  <nav>
    <% @property_types.each do |property_type|%>
      <%= link_to property_type.name, property_type_path(property_type.id) %>
    <% end%>
  </nav>
</aside>

<section>
  <h3>Imóveis disponíveis</h3>
  <% if @properties.empty? %>
    <div><span>Nenhum imóvel disponível</span></div>
  <% else %>
    <%= render 'property_card' %>   
  <% end %>  
</section>


